{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold">Welcome to the Homepage!</h1>
    <p>This is your application's homepage.</p>
{% endblock %}
