# .editorconfig
root = true

[*]
# Change these settings to your own preference
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Use 2 spaces for the HTML files
[*.html.twig]
indent_size = 4

# Use 4 spaces for markdown files (GitHub flavor)
[*.md]
indent_size = 4
trim_trailing_whitespace = false
