{% extends 'base.html.twig' %}

{% block title %}New Role{% endblock %}

{% block body %}
    <h1>Create new Role</h1>

{% include 'role/_form.html.twig' with {'roleForm': roleForm} %}

{% endblock %}
